* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: #2d4059;
  font-size: 2rem;
}

/* Search */
.search {
  margin-top: 4rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search__input {
  width: 14rem;
  height: 2rem;
  border: 0;
  text-align: center;
}
.search__btn {
  width: 5rem;
  height: 2rem;
  cursor: pointer;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
  background: #e4734f;
  border: 0;
  color: #f1eb9a;
}

.search__btn:hover {
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}

.search__btn:active {
  transform: translateY(1px);
}

.search__input,
.search__btn {
  outline: none;
  border-radius: 5%;
}

/* Weather */
.weather {
  height: 30vh;
  width: 40vh;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #ffecda;
  border-radius: 2rem 2rem;
  box-shadow: 3rem 5rem 2rem rgba(0, 0, 0, 0.2);
}

.weather__location {
  color: #2d4059;
  margin: 1rem;
}

.weather__description {
  padding: 1rem;
}

.weather__temp {
  background: #ff9a00;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  z-index: 1;
}

.weather__temp--degree {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.weather__temp--symbol {
  float: right;
  position: absolute;
  top: 30%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #ff9a00;
  color: #fff;
  font-weight: 100;
  visibility: hidden;
}

/* Temp */
.temp {
  height: 10vh;
  width: 40vh;
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #ff9a00;
  color: #2d4059;
  border-radius: 10%;
}

.temp__min,
.temp__max {
  /* text-align: left;
    margin: .6rem; */
  position: relative;
  margin: 0.5rem 0 0 0;
}
.temp__low {
  /* position: absolute;
  margin-right: 1rem;
  left: 65%; */
  margin-left: 8rem;
}

.temp__high {
  margin-left: 7rem;
}
